
<div class="row">
  <div class="col-lg-12">
    <h1>Awesome Elixir</h1>
    <%= if @collections != [] do %>
    <div class="row">
      <div class="col-lg-12">
        <a href="\">All&nbsp;</a>
        <%= for i <- [1, 5, 10, 50, 100] do %>
          <a href="?min_stars=<%= i * 10 %>"><%= "≥#{i * 10}⭐" %>&nbsp;</a>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-lg-12">
    <h4>Elixir is awesome. And it has a vast awesome list: <a href="https://github.com/h4cc/awesome-elixir">h4cc/awesome-elixir</a>. 
    This is a mirror of it where each library is marked with number of stars at <a href="https://github.com/">Github</a> and number of days since the last commit.</h4>
  </div>
</div>

<%= if @collections != [] do %>
<div class="row">
  <div class="col-lg-12">
    <h1>Contents</h1>
    <%= for collection <- @collections, collection.libraries != [] do %>
    <li>
      <a href="#<%= convert_topic_name(collection.topic) %>"> <%= collection.topic %></a>
    </li>
    <% end %>

    <%= for collection <- @collections, collection.libraries != [] do %>
    <h2 id="<%= convert_topic_name(collection.topic) %>"><%= collection.topic %></h2>
    <p><%= collection.description %></p>
    <ul>
      <%= for library <- collection.libraries do %>
      <li>
        <a href="<%= library.url %>"> <%= library.name %></a>
        ⭐
        <sub><%= library.stargazers_count %></sub>
        📅
        <sub><%= days_from_last_commit(library.last_commit_date) %></sub>
        —
        <span><%= library.description %></span>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
<% end %>